.avatar-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.avatar-frame-img {
    position: absolute;
    top: 48.5%;
    left: 49.4%;
    transform: translate(-50%, -50%);
    width: 63%;
    border-radius: 30%;
    object-fit: cover;
    object-position: center center;
    z-index: 3;
    aspect-ratio: 1 / 1;
}
