@font-face {
    font-family: "Mikado Bold";
    src: url("./mikado-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Main Container */
.leaderboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.player-row {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 1000 / 121;
    margin-bottom: 8px;
    padding: 2px 0px;
    overflow: hidden;
}

/* Leader Bar Frame */
.leader-bar-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1000 / 121;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

/* Rank */
.rank-container {
    position: relative;
    left: 2.5%;
    bottom: 6%;
    width: 7%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.rank-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    object-position: center;
}

.rank-number {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: calc(100cqw / 30);
    font-family: "Mikado Bold", sans-serif;
    z-index: 2;
    top: 2%;
}

/* Avatar */
.avatar-container {
    position: relative;
    width: 6.8%;
    aspect-ratio: 1;
    left: 5.8%;
    z-index: 3;
    bottom: 2%;
}

.avatar-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    object-fit: contain;
    object-position: center;
}

.player-avatar {
    position: relative;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(239, 216, 198);
    object-fit: cover;
    object-position: center center;
    z-index: 3;
    aspect-ratio: 1;
}

/* Name */
.name-container {
    position: relative;
    flex: 1 1 0%;
    left: 9%;
    z-index: 3;
    bottom: 3%;
}

.player-name {
    font-size: calc(100cqw / 30);
    font-weight: bold;
    font-family: "Mikado Bold", sans-serif;
    color: #333;
}

/* Score */
.score-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 60%;
    z-index: 3;
    right: 2%;
    bottom: 5%;
}

.score-background {
    position: absolute;
    top: 47%;
    right: 0px;
    height: 80%;
    z-index: 1;
    transform: translateY(-50%);
    object-fit: cover;
    object-position: center;
}

.cup-icon {
    position: relative;
    z-index: 2;
    left: -15%;
    height: 100%;
}

.player-score {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: calc(100cqw / 30);
    font-family: "Mikado Bold", sans-serif;
    z-index: 2;
    transform: translateY(-50%);
    right: 5%;
    top: 27%;
}
