@font-face {
    font-family: "Mikado Bold";
    src: url("../common/mikado-bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* Main Container */
.leaderboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player-row {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 593 / 107;
    margin-bottom: -4px;
    padding: 2px 0px;
    overflow: hidden;
}

/* Leader Bar Frame */
.leader-bar-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 593 / 107;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

/* Rank */
.rank-container {
    position: relative;
    left: 2.5%;
    bottom: 6%;
    width: 10%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.rank-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    object-position: center;
}

.rank-number {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: calc(4.8cqw);
    font-family: "Mikado Bold", sans-serif;
    z-index: 2;
    top: 2%;
}

/* Avatar */
.avatar-container {
    position: relative;
    width: 9.7%;
    aspect-ratio: 1 / 1;
    left: 4.55%;
    z-index: 3;
    bottom: 3%;
}

.player-avatar {
    position: relative;
    width: 100%;
    border-radius: 33%;
    object-fit: cover;
    object-position: center center;
    z-index: 3;
    aspect-ratio: 1 / 1;
}

/* Name */
.name-container {
    position: relative;
    flex: 1 1 0%;
    left: 9%;
    z-index: 3;
    bottom: 3%;
}

.player-name {
    font-size: calc(6cqw);
    font-weight: bold;
    font-family: "Mikado Bold", sans-serif;
    color: #8f5542;
}

.player-name-green {
    font-size: calc(6cqw);
    font-weight: bold;
    font-family: "Mikado Bold", sans-serif;
    color: #3e7110;
}

/* Score */
.score-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 75%;
    width: 14%;
    z-index: 3;
    right: 2%;
    bottom: 5%;
}

.score-background {
    position: absolute;
    top: 47%;
    right: 0px;
    height: 60%;
    z-index: 1;
    transform: translateY(-50%);
    object-fit: cover;
    object-position: center;
}

.cup-icon {
    position: absolute;
    z-index: 2;
    left: calc(-18cqw);
    height: 72%;
}

.player-score {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: calc(5cqw);
    font-family: "Mikado Bold", sans-serif;
    z-index: 2;
    transform: translate(-50%, -50%);
    left: 13%;
    top: 8%;
    text-shadow: rgba(143, 85, 66, 0.5) 0px 1px 1px;
    -webkit-text-stroke: 1px rgba(143, 85, 66, 0.5);
    letter-spacing: 0.4px;
}
