@font-face {
    font-family: "Mikado Bold";
    src: url("../common/mikado-bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* Main Container */
.leaderboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player-row {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 1000 / 121;
    padding: 2px 0px;
    overflow: hidden;
}

/* Leader Bar Frame */
.leader-bar-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1000 / 121;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

/* Rank */
.rank-container {
    position: relative;
    left: 1.75%;
    bottom: 6%;
    width: 7%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.rank-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    object-position: center;
}

.rank-number {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: calc(3.9cqw);
    font-family: "Mikado Bold", sans-serif;
    z-index: 2;
    top: 0.5%;
    /* Text shadow falling downwards only */
    text-shadow: 0 1px 1px rgba(143, 85, 66, 0.5);
    /* Alternative webkit stroke (for webkit browsers) */
    -webkit-text-stroke: 1px rgba(143, 85, 66, 0.5);
}

/* Avatar */
.avatar-container {
    position: relative;
    width: 6.5%;
    aspect-ratio: 1;
    left: 3.35%;
    z-index: 3;
    bottom: 2.5%;
}

.avatar-background {
    position: absolute;
    width: 100%;
    top: 46%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 2;
    object-fit: contain;
    object-position: center center;
}

.player-avatar {
    position: relative;
    width: 102%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    z-index: 3;
    aspect-ratio: 1;
}

/* Name */
.name-container {
    position: relative;
    flex: 1 1 0%;
    left: 7%;
    z-index: 3;
    bottom: 3%;
}

.player-name {
    font-size: calc(4cqw);
    font-weight: bold;
    font-family: "Mikado Bold", sans-serif;
    color: #8f5542;
}

.player-name-green {
    font-size: calc(4.33cqw);
    font-weight: bold;
    font-family: "Mikado Bold", sans-serif;
    color: #3e7110;
}

/* Score */
.score-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 60%;
    width: 14%;
    z-index: 3;
    right: 2%;
    bottom: 5%;
}

.score-background {
    position: absolute;
    top: 47%;
    right: 0px;
    height: 80%;
    z-index: 1;
    transform: translateY(-50%);
    object-fit: cover;
    object-position: center;
}

.cup-icon {
    position: absolute;
    z-index: 2;
    left: calc(-10cqw);
    height: 100%;
}

.player-score {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: calc(3.6cqw);
    font-family: "Mikado Bold", sans-serif;
    z-index: 2;
    transform: translate(-100%, -50%);
    left: 90%;
    top: 0%;
    /* Text shadow falling downwards only */
    text-shadow: 0 1px 1px rgba(143, 85, 66, 0.5);
    /* Alternative webkit stroke (for webkit browsers) */
    -webkit-text-stroke: 1px rgba(143, 85, 66, 0.5);
    letter-spacing: 0.4px;
}
